*.DS_Store

.git
.hg
.svn

*.pyc
*.pyo

*.cache



# Ignore packages that ship with ST2
/ASP/
/ActionScript/
/AppleScript/
/Batch File/
/C#/
/C++/
/CSS/
/Clojure/
/Color Scheme - Default/*
/D/
/Default/
/Diff/
/Erlang/
/Go/
/Graphviz/
/Groovy/
/HTML/
/Haskell/
/Java/
/JavaScript/
/LaTeX/
/Language - English/
/Lisp/
/Lua/
/Makefile/
/Markdown/
/Matlab/
/OCaml/
/Objective-C/
/PHP/
/Perl/
/Python/
/R/
/Rails/
/Regular Expressions/
/RestructuredText/
/Ruby/
/SQL/
/Scala/
/ShellScript/
/TCL/
/Text/
/Textile/
/Theme - Default/
/Vintage/
/XML/
/YAML/


# Un-ignore specific files
!/Color Scheme - Default/Monokai Bright.tmTheme
!/Color Scheme - Default/Monokai.sublime-color-scheme
!/Color Scheme - Default/Monokai.tmTheme


# Ignore community packages
/Alignment/
/All Autocomplete/
/CTags/
/Case Conversion/
/FileDiffs/
/Git/
/Increment Selection/
/MoveTab/
/Open Search Result/
/Package Control/
/Pretty JSON/
/SFTP/
/Terminal/
/TrailingSpaces/

# Note: Don't install GitGutter; it's not useful anymore, and it causes performance problems
/GitGutter/


# Ignore files associated with community packages
/User/Package Control.cache/
/User/Package Control.last-run
/User/Package Control.merged-ca-bundle
/User/Package Control.sublime-settings
/User/Package Control.system-ca-bundle
/User/Package Control.user-ca-bundle
/User/oscrypto-ca-bundle.crt
/User/sftp_servers/
/markupsafe/
/mdpopups/
/pygments/
/python-jinja2/
/python-markdown/


