[submodule "EasyMotion"]
	path = EasyMotion
	url = git@github.com:simonrad/sublime-packages-dir.git
[submodule "SelectionTools"]
	path = SelectionTools
	url = git@github.com:simonrad/sublime-selection-tools.git
